/* This is going to be used for any modified/custom styling */


/* CSS Reset-to make  sure our css is read the same across all browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







/*Boot strap Navbar*/
.navbar {
    background-color: rgba(248, 247, 248, 0.7);
    border-bottom:1px, solid #dedede;
    font-family: 'Alegreta Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
color:rgb(139, 56, 194);
color: rgb(72, 33, 95);
}


/*the color when you hover over  these classes*/
.navbar .navbar-nav .nav-link:hover {
    color:rgb(139, 56, 194);
    }
 /* size and padding space within each nav item*/   
.nav-item{
    font-size:30px;
    padding:20px;
}
/*HEADER*/
#header {
background-size: cover;
height:100%;
color:black;
display:flex;
align-items: center;


}



#header img{
    padding:0 0 20px 0;
    width:80%;
}


#header .header-right {
    background-color: rbga(0,0,0,0.5);
    padding:30px;
    border-radius:10px;
}

.header{
    padding:100px;
}

.page-header {
    padding-top: 200px;
}

.index-header {
    text-align: center;
    font-size: 100px;
    padding-top: 200px;
}



img{
width: 50%;
}

.container{
    padding:300px;
    text-align: center;
    font-size:100px;
}

.container2{
    padding-top:500px;
    font-size: 50px;
}

#carouselExampleSlidesOnly{
    padding:30px;
    width:100%;
    margin:auto;
}




p{
    padding:10px;
    text-align: center;
    font-size:27px;
}


/* styles for my text input for my html form*/
input[type=text] {
   
    width:500px;
    height:35px;
    transition: 0.3s;
    outline: none;
    margin:auto;
    display:block;

  }

  form{
      padding:50px;
      margin:auto;
      display:inline-block;
  }
  /* when someone clicks on any of the input text areas, it transitions and the  solid tan border pops up*/
  input[type=text]:focus {
    border:3px solid rgb(53, 13, 68);
  }

  input[type=submit]{
      padding:15px;
      color: rgb(53, 13, 68);
      margin: 10%;
  }
textarea{
     width:100%;
    height:350px;

}
  footer { 
    background-color:rgb(53, 13, 68);
    color:white;
    padding: 10px;
    margin-top:20px;
   
  }

  .myform{
    border-radius: 5px;
    border: 2px solid white;
    background-color: #f2f2f2;
    padding: 20px;
    width:80%;
    margin:auto;
    background: rgb(59,3,163);
  }

  


body {
    text-align: center;
    font-family: 'Alegreta Sans', sans-serif;
}

label{
    font-size: 41px;
    color: white;
    margin:20px;
    text-shadow: 5px 5px rgb(48, 5, 116);
    font-family: "Verdana";
    font-weight: 400;
}

legend{
    font-size:60px;
    text-shadow: 5px 5px rgb(48, 5, 116);
    color: white;
}

.whatstyle img{
   width:60%;
    padding:50px;
    height:450px;
}
div{
    padding:30px;
}

h3{
    font-size:35px;
}
h2{
    font-size:60px;

}

@media (max-width: 800px) {
    input[type="text"] {
        width: 50%;
    }
    textarea{
        width:50%;
    }
    .index-header {
        margin: 0;
    }
  
    .index-img{
        width:1000px;
    }
}

/****** CAROUSEL ******/

.carousel-indicators li {
    background-color: purple;
    padding:6px;
}



/* Style my filter  */
input[type="radio"] {
    display:none;
}


.filter-label {
    width:20%;
    float:left;
    text-align:center;
    background: rgb(48, 5, 116);;
    color:#fff;
    padding:0.5%;
    margin:0.5%;
    margin-bottom:30px;
    cursor:pointer;
    border: 1px solid #000000;
    border-radius: 10px;

    font-size: 41px;
    color: white;
    margin: 20px;
    text-shadow: 5px 5px rgb(48, 5, 116);
    font-family: "Verdana";
    font-weight: 400;
}
  
#name-error,
#email-error{
    color:#fff;
}
